:root {
  --iPhone13ProSectionColor: #fbfbfd;
  --iPhone13SectionColor: #35283c;
  --macbookSectionColor: #fbfbfd;
  --footer-background: #f5f5f7;
  --footer-link-color: #424245;
  --footer-border-color: #d2d2d7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.47;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
  overflow: visible;
}
.navbar {
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 44px;
  background: rgba(0, 0, 0, 0.92);
  font-size: 17px;
  user-select: none;
  position: fixed;
}
.content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 1px;
}
.list {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  height: 44px;
  list-style: none;
  width: auto;
}
.item {
  display: inline-block;
}
.link {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;

  font-weight: normal;
  color: #f5f5f7;
  display: inline-block;
  padding: 0 12px;
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.3s;
  outline-offset: -7px;
}
.link .apple {
  background-size: 16px 44px;
  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  opacity: 1;
}
.link .search {
  background-size: 18px 88px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg");
  width: 18px;
}
.link .bag {
  background-size: 17px 44px;
  background-image: url("https://www.apple.com/ac/globalnav/6/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__bmix8075eg4i_large.svg");
  background-repeat: no-repeat;
  width: 17px;
}
a:hover {
  opacity: 20;
  transition: opacity 0.3s;
}
.shop {
  font-weight: normal;
  background-color: #f5f5f7;
  height: 88px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  color: #1d1d1f;
  width: 100%;
  line-height: 1.47059;
  letter-spacing: -0.022em;
  padding: 12px 0;
  padding-top: 50px;

  font-weight: normal;
}
.link-ribon {
  color: #06c;
  text-decoration: none;
}
.link-ribon:hover {
  text-decoration: underline;
}
/*-------------- Section One Start -------------- */
.secOneContent {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 22px;
  border-bottom: 12px solid #fff;
}
/*-------------- End iPhone13 Pro -------------- */
.iPhone13Pro {
  position: relative;
  height: 650px;
  padding-top: 44px;
  box-sizing: content-box;
  border-bottom: 12px solid #fff;
}
.heading {
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
  text-align: center;
  font-weight: normal;
}
.headline {
  font-size: 48px;
  line-height: 1;
  font-weight: 600;
}
.subhead {
  font-size: 24px;
  font-weight: 400;
  margin-top: 5px;
}
.cta-link a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
  color: #06c;
}
.cta-link {
  padding-top: 20px;
  box-sizing: content-box;
}
#linkLearnmore {
  margin-left: -1px;
}
#linkBuy {
  margin-left: 32px;
}
.cta-link a:hover {
  text-decoration: underline;
}
.iPhone13ProImage {
  z-index: 1;
  overflow: visible;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
.unitImage-iPhone13ProImage {
  width: 100%;
  height: 736px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/2-3010px.jpg);
  background-position: center -200px;
}

/*-------------- End iPhone13 Pro -------------- */

/*-------------- Start iPhone13 -------------- */

.iPhone13 {
  height: 694px;
  width: 100%;
  background-color: var(--iPhone13SectionColor);
  padding-top: 61px;
}
#headline-iPhone13 {
  color: #fff;
}
#subhead-iPhone13 {
  color: #fec2eb;
  margin-top: 5px;
}
#cta-link-iPhone13 a {
  color: #2997ff;
}
.unitImage-iPhone13Image {
  width: 100%;
  height: 710px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/4-3008px.jpg);
  background-position: center -200px;
}

/*-------------- End iPhone13 -------------- */

/*-------------- Start MacBook -------------- */

.macbook {
  height: 694px;
  width: 100%;
}
#macbook {
  padding-top: 55px;
}
#headline-macbook {
  font-size: 56px;
}
#subhead-macbook {
  font-size: 28px;
}
.unitImage-macbookImage {
  width: 100%;
  height: 660px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/macbook.jpg);
  background-position: center -200px;
}
/*-------------- End MacBook -------------- */

/*-------------- Section One End -------------- */

/*-------------- Section two Start -------------- */
#sec2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 12px;
  height: 1908px;
  width: 100%;
  border-bottom: 12px solid #fff;
  padding: 0 12px;
  overflow: hidden;
  margin-top: 16px;
}

/*-------------- Start homepod -------------- */
.homepod {
  background-image: url(./image/homepod.jpg);
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: center;
  height: 624px;
  text-align: center;
  cursor: pointer;
}
.homepod-heading {
  margin-top: 53px;
  font-size: 40px;
  font-weight: 600;
}
#headline-homepod {
  font-size: 40px;
}
/*-------------- End homepod -------------- */
/*-------------- Start airpod -------------- */
.airpod {
  background-image: url(./image/airpod.jpg);
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: top;
  height: 624px;
  text-align: center;
  cursor: pointer;
}
.airpod-heading {
  position: relative;
  margin-top: 430px;
  font-size: 40px;
  font-weight: 600;
}
#headline-airpod {
  font-size: 40px;
}
#subhead-airpod {
  font-size: 21px;
}

/*-------------- End airpod -------------- */
/*-------------- Start watch -------------- */
.watch {
  background-image: url(./image/watch1.jpg);
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: top;
  height: 624px;
  text-align: center;
  cursor: pointer;
}
.watch-heading {
  position: relative;
  font-weight: 400;
}
#headline-watch {
  font-size: 21px;
}

#watchlogo {
  margin-top: 48px;
}
/*-------------- End watch -------------- */
/*-------------- Start arcade -------------- */
.arcade {
  background-image: url(./image/arcade.jpg);
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: top;
  height: 624px;
  text-align: center;
  cursor: pointer;
}
.arcade-heading {
  position: relative;
  font-weight: 400;
}
#headline-arcade {
  font-size: 21px;
}

#arcadelogo {
  margin-top: 48px;
}

/*-------------- End arcade -------------- */
/*-------------- Start card -------------- */
.card {
  background-image: url(./image/card.jpg);
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: top;
  height: 624px;
  text-align: center;
  cursor: pointer;
}
.card-heading {
  position: relative;
  font-weight: 400;
}
#headline-card {
  font-size: 21px;
}

#cardlogo {
  margin-top: 48px;
}

/*-------------- End card -------------- */
/*-------------- Start tv -------------- */
.tv {
  background-image: url(./image/tv.jpg);
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  height: 624px;
  text-align: center;
  cursor: pointer;
}
.tv-heading {
  position: relative;
  color: #fff;
  font-weight: 400;
}
#subhead-tv {
  text-align: center;
}

#tvlogo {
  margin-top: 300px;
  display: block;
  text-align: center;
  left: auto;
  right: auto;
  padding-left: 420px;
}
#tv1logo {
  display: inline-block;
}

/*-------------- End tv -------------- */

/*-------------- Section Two End -------------- */

/*---------------- Section Footer Start --------------- */
#globalfooter {
  background-color: var(--footer-background);
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e73;
}
.footerContent {
  max-width: 980px;
  height: 778px;
  margin: 0 auto;
  padding: 0 22px;
  line-height: 1.33337;
  letter-spacing: -0.01em;
}
.footnotes {
  border-bottom: 1px solid var(--footer-border-color);
  padding: 17px 0 11px;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 0.8em;
}
ul a {
  text-decoration: none;
  color: var(--footer-link-color);
}
ul a:hover {
  text-decoration: underline;
}
/*-------------- Nav Footer Start-------------- */
.navFooter {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}
.nav-footer-column {
  flex-basis: 25%;
  height: 414px;
}
ul {
  margin-top: 0.8em;
  letter-spacing: 0.01em;
}
li a {
  color: var(--footer-link-color);
}
.headline-nav-footer {
  color: #1d1d1f;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.headline-nav-footer1 {
  color: #1d1d1f;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.endFooter {
  padding-top: 34px;
}
.footer-shop {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--footer-border-color);
}
.footer-locale {
  float: right;
  text-decoration: none;
  color: var(--footer-link-color);
  display: inline;
}
.footer-locale a:hover {
  text-decoration: underline;
}
.legal-copyright {
  display: inline;
  max-height: 9999px;
  margin-right: 30px;
}
.legal-links {
  position: relative;
  display: inline-block;
  border-right: 1px solid var(--footer-border-color);
  margin-right: 7px;
  padding-right: 10px;
  text-decoration: none;
  color: var(--footer-link-color);
}
#sitmap {
  border: none;
}
.legal-links a:hover{
text-decoration: underline;
}
/*-------------- Nav Footer End-------------- */

/*---------------- Section Footer End --------------- */
